---
---
@charset "utf-8";

$base-font-family  : Arial;
$default-font-size : 0.9rem;
$small-font-size   : $default-font-size * 0.8;
$base-line-height  : 1.5;

$coding-font: Consolas, "Courier New", Courier;
$theme-color: #6C3483;

// Import from 'sass_dir' (default: _sass)
@import
    "base",
    "layout",
    "syntax"
;
