# Site settings
title: blog title
url: "https://.........."
baseurl: ""
description: >
    blog description

# My information
email:
author:
profile:
twitter_username:
github_username:
comment-support:

# Build settings
plugins:
  - jekyll-paginate
  - jekyll-gist

permalink: /blog/:year/:month/:day/:title/

markdown: kramdown
highlighter: rouge
kramdown:
  input: GFM
  syntax_highlighter: rouge

paginate: 10
paginator_path: "/blog"
paginate_path: "/blog/page:num/"

# Collections
collections:
    wiki:
        output: true
        permalink: /:collection/:path/

# Comment Service
disqus:
  id:
  shortname:
utterances:
  repo:
  issue-term:
  label:
  branch:

google_analytics:
  ua:
google_adsense:
  client:

blame:
edit:
issue:

timezone: "Asia/Seoul"
