{% if page.comment != false %}
    <div class="giscus"></div>
    <div class="post-comments">
    <script src="https://giscus.app/client.js"
        data-repo="{{ site.giscus.repo }}"
        data-repo-id="{{ site.giscus.repo_id }}"
        data-category="{{ site.giscus.category }}"
        data-category-id="{{ site.giscus.category_id }}"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light"
        data-lang="ko"
        crossorigin="anonymous"
        data-mapping="specific"
        data-term="{{ page.resource }}"
        data-strict="0"
        async>
    </script>
    </div>
{% endif %}