@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400&display=swap');

body {
    margin: 0;
    height: 100%;
}

body {
  font: 400 16px 'Roboto Slab',AppleSDGothicNeo,sans-serif;
  color: rgba(0, 0, 0, 0.84);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body, th, td, div, p, li {
    word-break: keep-all;
}

$main-font-color: #4D5667;

p, li {
    color: $main-font-color;
}

a:link {
}
a:visited {
    color: #344B83;
}

.post-content {
    line-height: 2;
}

blockquote {
    font-family: 'Noto Serif KR', serif;
    background: #FFFFFF;
    margin:0;
    padding: 1px 0px 1px 8px;
    border-left: 4px solid #CCCCCC;
    p {
        line-height: 2;
        color: $second-font-color;
    }
}
.hide {
    display: none;
}
.center {
    text-align: center;
}
.language-html table {
    background: transparent;
    margin: 0;
}
.language-html td {
    padding: 0;
    border: 0;

}

h1 {
    font-weight: normal;
}
h2,h3,h4,h5,h6 {
    font-weight: normal;
    color: $main-font-color;
}

.post-content h1,h2,h3,h4,h5,h6 {
    &:before { color:$theme-color; }
}

h1 {
    font-size: 2.2rem;
    margin: 0px;
}
.post-content h1 {
    border-bottom: 1px solid $theme-color;
}
h2 {
    font-size: 1.8em;
    border-bottom: 1px solid #d0d0d0;
}
.post-content h2 {
    &:before { content:"⠁"; }
}
h3 {
    font-size: 1.6em;
    font-style: italic;
}
.post-content h3 {
    &:before { content:"⠃"; }
}
h4 {
    font-size: 1.4em;
    padding-left: 5px;
    font-style: italic;
}
.post-content h4 {
    &:before { content:"⠋"; }
}
h5 {
    font-size: 1.2em;
    padding-left: 10px;
    font-style: italic;
}
.post-content h5 {
    &:before { content:"⠛"; }
}
h6 {
    font-size: 1.0em;
    padding-left: 15px;
    font-weight: bold;
    font-style: italic;
}
.post-content h6 {
    &:before { content:"⠟"; }
}

.post-content .external-link {
    &:after {
        content: url("/resource/icon/external-link.svg");
    }
}

.post-content .tagged-link {
    &:before { content:"#"; }
}

.link-checked {
    color: #FFFFFF;
    background-color: #BA55D3;
    border-radius: 3px;

    &:visited {
        color: #FFFFFF;
    }
}

mark {
    color: #275715;
    background-color: #dbedd4;
    border-radius: 3px;
}

.error-link {
    &:after {
        font-style: italic;
        color: red;
    }
}

.link-404 {
    @extend .error-link;
    &:after {
        content: "[404 Not Found]"
    }
}

.link-400 {
    @extend .error-link;
    &:after {
        content: "[400 Bad Request]"
    }
}

.link-408 {
    @extend .error-link;
    &:after {
        content: "[408 Request Timeout]"
    }
}

.link-500 {
    @extend .error-link;
    &:after {
        content: "[500 Internal Server Error]"
    }
}

.post-item:hover {
  background-color: #FFF5FF;
}

video {
    max-width: 100%;
}

// 팝업 주석
sup[role=doc-noteref] {
    position: relative;

    a.footnote {
        position: relative;
        padding-bottom: 1em;
        text-decoration: none;

        &:before { content: "[" }
        &:after { content: "]" }
        &:hover {
            color: #df0000;
            & + .tooltiptext {
                color: red;
                // display: block; // create-link.js 에서 처리한다
            }
        }

        & + .tooltiptext {
            display: none;
            max-width: 800px;
            min-width: 300px;
            background-color: #ffffff;
            color: $main-font-color;
            text-align: left;
            border-radius: 7px;
            border: 1px solid #df0000;
            padding: 0px 12px 0px 12px;
            position: absolute;
            bottom: 1em;
            z-index: 1;
        }
    }
}
