/*
접기/펼치기

접기/펼치기는 다음과 같이 html 태그를 사용하는 기능으로, 클릭해서 펼치고 접을 수 있다.
<details><summary> 접는 내용 </summary></div></details>
 */
summary {
    color: gray;
}

details {
    border: 1px dashed gray;
    padding: 2px;
    margin-bottom:5px;
}

details[open] > div {
    opacity: 0;
    animation-name: slideDown;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


