.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
    border: 1px solid #d0d0d0;
  }
}

.page-content {
    background:#FAFAFA;
    // padding: 30px 0;

    img {
        max-width:100%;
    }
}

.post {
    overflow-x: auto;
    padding: 5px;
}

@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.footer {
    text-align:center;
}

ul.tag-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        padding-right: 5px;
        text-decoration: none;
    }
}

.post-link {
    text-decoration: none;
}

.no-text-deco {
    a {
        text-decoration: none;
    }
}

.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: $theme-color;
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #000000;
    }
}

.pagination li {
    display: inline-block;
}
.tag-list li {
    display: inline-block;
}

.post-excerpt {
    color: $forth-font-color;
}

.post-sub-document {
    color: #000000;
}
