.wrapper {
    margin: 0 auto;
}
@media (max-width: 1120px) {
    .wrapper {
    }
}

@media (min-width: 800px) {
  body {
    width: 800px;
    margin: auto;
    border: 1px solid #d0d0d0;
  }
}

div.gsc-control-cse {
    padding: 0;
}

.search form.gsc-search-box {
    margin: 0;
}

table.gsc-search-box {
    margin: 0px;
}

.header {
    background-color: $theme-color;

    &:after {
        clear: both;
        content: ' ';
        display: block;
    }

    .site-title {
        float: left;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 1.3;
        padding-left: 10px;
        font-style: italic;
    }
    .site-title-right {
        float: right;
        text-decoration: none;
        color: #FFFFFF;
        line-height: 1.3;
        padding-right: 10px;
        font-style: italic;
    }
}

.page-content {
    background:#FAFAFA;
    // padding: 30px 0;

    img {
        max-width:100%;
    }
}

.post {

    overflow-x: auto;
    padding: 5px;

    table {
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #000000;
        margin-bottom: 10px;

        td, th {
            border: 1px solid $third-font-color;
            padding: 5px 5px;
        }
        th {
            font-weight:normal;
            color: #FFFFFF;
            background: $theme-color
        }
        tr:nth-child(even) {
            background-color: #f4f4f4;
        }
        tr:hover {
            background: #BEE7F6;
        }
    }
}
.toc {
    background: #EEE;
}
.post-tag a {
    color: #888888;
    text-decoration: none;
}
@media (max-width: 1120px) {
    .page-content .wrapper:before {
        display: none;
    }
}

.footer {
    text-align:center;
}

ul.tag-list {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li a {
        padding-right: 5px;
        text-decoration: none;
    }
}

.post-link {
    text-decoration: none;
}

.no-text-deco {
    a {
        text-decoration: none;
    }
}

.section-nav {
  background-color: #FFF;
  margin: 5px 0;
  padding: 10px 30px;
  border: 1px solid #E8E8E8;
  border-radius: 3px;
}

.history-button {
    text-align: right;
    font-size: 0.8em;
}

.title-summary {
    font-size: 1.6em;
    font-style: italic;
    color: gray;
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.pagination {
    text-align:center;

    a {
        font-size: 1em;
        margin: 2px;
        padding: 2px;
        text-decoration: none;
        border-radius: 10px;
        border: 0px solid $theme-color;
        background-color: $theme-color;
        color: #FFFFFF;
    }

    a.active {
        border: 0px solid transparent;
        background-color: transparent;
        color: #000000;
    }
}

.pagination li {
    display: inline-block;
}
.tag-list li {
    display: inline-block;
}

div.search {
    background-color: #f6f5ea;
    width: 100%;
    position: relative;
    border-bottom: 1px solid $theme-color;
    line-height: 1;
}
.searchInput {
    background-color: transparent;
    width: 100%;
    height: 100%;
    top: 0;
    position: relative;
    padding: 0px;
    padding-left: 5px;
    border: 0px;
    margin: 0px;
    font-size: 13px;
    direction: ltr;
    -webkit-appearance: textfield;
    border-radius: 0px;
}

.searchButton {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 2;
}

.post-header {
    h2 {
        border: 0px;
    }
    p {
        margin: 0;
    }
    .page-title a {
        text-decoration: none;
    }
}

.post-excerpt {
    color: $forth-font-color;
}

.post-sub-document {
    color: #000000;
}
