---
layout: document
---

{% assign thisName = page.id | remove: '/wiki/' %}
<input type="hidden" id="thisName" value="{{ thisName }}"/>
<div class="post">
    <header class="post-header">
        <h1 class="page-title">{{ page.title }}</h1>
    {% if page.summary %}
        <p class="title-summary">{{ page.summary }}</p>
    {% endif %}
        <div class="history-button">
            <p><a href="{{ site.blame }}/{{ thisName }}.md" target="_blank">created: {{ page.date | date: '%Y.%m.%d' }}</a></p>
            <p><a href="{{ site.blame }}/{{ thisName }}.md" target="_blank">updated: {{ page.updated | date: '%Y.%m.%d' }}</a></p>
            <p>
                <a href="{{ site.edit }}/{{ thisName }}.md">편집하기</a>
                /
                <a href="{{ site.issue }}?title={{ page.title | url_encode }}&body=의견을%20남겨주세요">의견 남기기</a>
            </p>
        </div>
{% raw %}
        <div id="parent-list"></div>
{% endraw %}

{% if page.tags %}
    {% include post-tags.html %}
{% endif %}


    </header>
    <article class="post-content">
        {{ content }}
        <div id="document-list"></div>
    </article>
{% if page.comment != false %}
    {% include comment.html %}
{% endif%}
</div>
{% include createLink.html %}

<script src="/js/axios.min.js"></script>
<script async src="/js/parent.js"></script>
<script async src="/js/category.js"></script>
