---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1 class="page-title">
            <a href="{{ page.url }}"> {{ page.title }} </a>
        </h1>
        <p class="created-date">
            {{ page.date | date: "%Y.%m.%d" }}
        </p>
        {% include post-tags.html %}
        <h2>{{ page.summary }}</h2>
    </header>

{% if page.toc %}
    <div class="toc">
    </div>
{% endif %}
    <article class="post-content">
        {{ content }}
    </article>
    {% include createLink.html %}
    {% include comment.html %}

    <script async src="/js/toc-highlight.js"></script>
</div>
